<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="/client/style/landing.css"/>
    <title>Folio Friend</title>
</head>

<body>

<header>

    <nav>

    </nav>

</header>

    {{{ body }}}

</body>


</body>
</html>