<header>
  <h1>
    <a href="/">
      < / anchor>
    </a>
  </h1>
  <nav>
    <!-- Unordered list element -->
    <ul>
      <!-- List item element-->
      <li>
        <!-- Anchor element -->
        <a href="">home</a>
      </li>
      <li>
        <a href="">create</a>
      </li>
      <li>
        <a href="">my sites</a>
      </li>
      <li>
        <a href="">sign out</a>
      </li>
    </ul>
  </nav>
</header>




<!-- "meet the trainers" section -->
<section id="meet-the-trainers">
  <div class="flex-row">
    <h2 class="section-title primary-border">create</h2>
  </div>
  <div class="trainers">
    <article class="trainer">
      <div class="trainer-img trainer-1">
        <div>
          <h3>greyskale</h3>
          <h4>sleek, professional, attractive</h4>
        </div>
      </div>
      <div class="trainer-bio">
        <h3>Arron Stephens</h3>
        <h4>Speed / Strength</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>

    <article class="trainer">
      <div class="trainer-img trainer-2">
        <div>
          <h3>greyskale</h3>
          <h4>sleek, professional, attractive</h4>
        </div>
      </div>
      <div class="trainer-bio">
        <h3>Arron Stephens</h3>
        <h4>Speed / Strength</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>

    <article class="trainer">
      <div class="trainer-img trainer-3">
        <div>
          <h3>greyskale</h3>
          <h4>sleek, professional, attractive</h4>
        </div>
      </div>
      <div class="trainer-bio">
        <h3>Arron Stephens</h3>
        <h4>Speed / Strength</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </article>

  </div>
</section>


<script src="/client/src/js/create-user.js"></script>
<script src="/client/src/js/app.js"></script>
<script src="/JS/login.js"></script>