{{!-- <header>
  <h1>
    <a href="/">
      < / anchor >
    </a>
  </h1>
  <nav>
    <!-- Unordered list element -->
    <ul>
      <!-- List item element-->
      <li>
        <!-- Anchor element -->
        <a href="">home</a>
      </li>
      <li>
        <a href="">create</a>
      </li>
      <li>
        <a href="">my sites</a>
      </li>
      <li>
        <a href="/">sign out</a>
      </li>
    </ul>
  </nav>
</header>
 --}}



{{#if info.length}}
<section>
    <h2>Prior portfolios</h2>
    <ol>
        {{#each info as |info|}}
        <li>
            <a href="/portfolios/{{info.id}}" class="portfolio">Prior portfolio{{info.id}}</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}