{{> base}}

<header>
    <h1>
        <a href="/">
            < / anchor>
        </a>
    </h1>
    <nav>
        <!-- Unordered list element -->
        <ul>
            <!-- List item element-->
            <li>
                <!-- Anchor element -->
                <a href="/dashboard">home</a>
            </li>
            <li>
                <a href="dashboard1">create</a>
            </li>
            <li>
                <a href="/portfolios">my sites</a>
            </li>
            <li>
                <a href="/" id="logout">sign out</a>
            </li>
        </ul>
    </nav>
</header>





{{#if info.length}}
<section>
    <h2>My Portfolios</h2>
    <ol>
        {{#each info as |info|}}
        <li>
            <a href="/portfolios/{{info.id}}" class="portfolio">Portfolio {{info.portfolio_name}}</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}


