{{> temp2css}}
<header>

    <h1> {{info.portfolio_name}} </h1>

    <nav>
        <ul>
            <!--list item element-->
            <li>
                <!-- Anchor element-->
                <a href="#about-me">ABOUT ME</a>
            </li>

            <li>
                <a href="#completed-work">COMPLETED WORK</a>
            </li>

            <li>
                <a href="#in-progress">IN PROGRESS</a>
            </li>

            <li>
                <a href="#contact">CONTACT</a>
            </li>

            <li>
                <a href="#links">LINKS</a>
            </li>

            <li>
                <a href="#perks">PERKS</a>
            </li>
        </ul>
    </nav>

    <!--hero/jumbotron-->
</header>

<!--Hero Element-->
<section class="hero">
    <div class="hero-cta">
        <h1>Hello, my name is (your name here)</h1>
    </div>
</section>
<!--End of Hero-->

<!--"What we do" section-->
<section id="about-me">
    <div>
        <h2 class="section-title primary-border">ABOUT ME</h2>
    </div>

    <p>
        {{info.portfolio_aboutme}}
    </p>
</section>

<!--"What you do" section-->
<section id="completed-work">
    <h2 class="section-title secondary-border">COMPLETED WORK</h2>

    <div class="grid-container">
        <div class="card grid-item">
            <img src="assests/images/CWone.png" class="tiles" alt="card image" />
            <div class="container">
                <h4 class="title"><b>Your work here</b></h4>
            </div>
        </div>
        <div class="wrap">
            <div class="card grid-item">
                <img src="assests/images/CWtwo.png" class="tiles" alt="card image" />
                <h4 class="title"><b>Your work here</b></h4>
            </div>
        </div>
        <div class="wrap">
            <div class="card grid-item">
                <img src="assests/images/CWthree.png" class="tiles" alt="card image" />
                <h4 class="title"><b>Your work here</b></h4>
            </div>
        </div>
        <div class="wrap">
            <div class="card grid-item">
                <img src="assests/images/CWfive.png" class="tiles" alt="card image" />
                <h4 class="title"><b>Your work here</b></h4>
            </div>
        </div>
    </div>
</section>

<!--"in progress" Section-->
<section id="in-progress">
    <div>
        <div class="wrap">
            <h2 class="section-title primary-border">IN PROGRESS</h2>


            <div class="grid-container">
                <div class="card grid-item">
                    <img src="assests/images/CWone.png" class="tiles" alt="card image" />
                    <div class="container">
                        <h4 class="title"><b>Your work here</b></h4>
                    </div>
                </div>
                <div class="wrap">
                    <div class="card grid-item">
                        <img src="assests/images/CWtwo.png" class="tiles" alt="card image" />
                        <h4 class="title"><b>Your work here</b></h4>
                    </div>
                </div>
                <div class="wrap">
                    <div class="card grid-item">
                        <img src="assests/images/CWthree.png" class="tiles" alt="card image" />
                        <h4 class="title"><b>Your work here</b></h4>
                    </div>
                </div>
                <div class="wrap">
                    <div class="card grid-item">
                        <img src="assests/images/CWfive.png" class="tiles" alt="card image" />
                        <h4 class="title"><b>Your work here</b></h4>
                    </div>
                </div>
            </div>
</section>

<section id="perks">
    <div>
        <h2 class="section-title secondary-border">PERKS</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum ipsa,
            fugit animi commodi repudiandae, sunt nemo non dolore laborum
            reprehenderit provident natus voluptatum dolor, mollitia molestiae
            quasi quo ab doloremque.
        </p>
    </div>
</section>

<section id="contact">
    <div>
        <h2 class="section-title secondary-border">CONTACT</h2>
        <a href="mailto:{{info.portfolio_email}}">{{info.portfolio_email}}</a>
        <p>555-555-5555</p>
    </div>
</section>

<!--end of Grid-->

<section id="links">
    <div>
        <h2 class="section-title secondary-border">LINKS</h2>
        <p>@twitterfake</p>
        <p>gitfake@fakesite</p>
        <p>fakeLinkedin</p>
    </div>
    </section4>



    <!--footer-->
    <footer class="footer">
        <h2>Created by Team Super Dragons.</h2>

        <div>
            <a href="./privacy-policy.html">Read Our Privacy Policy</a><br />
            &copy; 2021 TSD
        </div>
    </footer>
    </body>

    </html>